@media only screen and (min-width: 37.5em) {

    header h1 {
        font-size: 2.8rem;
    }

    header h2 {
        font-size: 1.25rem;
    }

    header h3 {
        font-size: 1.0rem;
    }

    #upcInput {
        font-size: 24px;
    }

    #upcInput:focus {
        font-size: 36px;
    }

    button {
        padding: 5px 10px 5px 10px;
        font-size: 18px;
    }

}
