
body {
    background-color: darkblue;
    font-family: 'Open Sans', serif;
    color: white;
    margin: 0;
}

header {
    background-color: royalblue;
    color: #afbcbb;
    text-align: center;
    padding: 2%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

header h1 {
    font-size: 1.1rem;
}

header h2 {
    font-size: 0.9rem;
}

header h3 {
    font-size: 0.75rem;
}

main {
    padding: 2%;
}

footer {
    background-color: royalblue;
    color: #afbcbb;
    padding: 2%;
    text-align: center;
}

#copyright {
    font-size: .6rem;
    color: white;
}

.mainContainer {
    margin: 10px 0 10px 0;
    min-height: 100px;
    border-color: skyblue;
    border-radius: 20px;
    border-style: solid;
}

.innerContainer {
    margin: 5px;
}

#upcInput, #weightInput {
    font-size: 28px;
    max-width: 95%;
    transition-property: font-size, background-color;
    transition-duration: 2s;
}

#upcInput:focus, #weightInput:focus  {
    font-size: 40px;
    background-color: slategrey;
}

#upcProductTitle {
    color: yellow;
    font-weight: bold;
    font-size: 24px;
}

#upcProductThumb {
    max-width: 95%;
    height: auto;
    border-radius: 20px;
}

button {
    padding: 7px 15px 7px 15px;
    border-radius: 9px;
    font-size: 21px;
    font-family: monospace;
    font-weight: bold;
    transition-property: padding, font-size;
    transition-duration: 2s;
}

#upcProductNutritionInfo {
    font-size: 20px;
}

#nutriFactsTable table, tr, td {
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 0 20px 0 0;
}

#headerImageLeft {
    float: left;
    width: 20%;
    animation-name: flipper-left;
    animation-duration: 5s;
}

#headerImageRight {
    float: right;
    width: 20%;
    transform: scaleX(-1);
    animation-name: flipper-right;
    animation-duration: 5s;
}

@keyframes flipper-left {
    0% {transform: perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);}
    40% {transform: perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);}
    80% {transform: perspective(600px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0); animation-timing-function: ease-in;}
    100% {transform: perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg); animation-timing-function: ease-in;}
}

@keyframes flipper-right {
    0% {transform: scaleX(-1) perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);}
    40% {transform: scaleX(-1) perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);}
    80% {transform: scaleX(-1) perspective(600px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0); animation-timing-function: ease-in;}
    100% {transform: scaleX(-1)  perspective(600px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg); animation-timing-function: ease-in;}
}

.clearfix {
    overflow: auto;
}
