@media only screen and (min-width: 64em) {

    header h1 {
        font-size: 6rem;
    }

    header h2 {
        font-size: 1.75rem;
    }

    nav ul li a {
        line-height: 50px;
        padding: .5rem 1rem;
    }

    .image-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .image-gallery figure:hover > img {
        box-shadow: 10px 10px 10px dimgrey;
    }

    .image-gallery figure:hover > figcaption {
        text-shadow: 5px 5px 2px dimgrey;
    }

    article {
        display: inline-block;
        margin: 0 0 25px 0;
    }

    article p {
        width: 65%;
    }

    article img {
        float: right;
        width: 30%;
        margin: 0;
    }

    form label.sxs {
        padding: .4rem 0;
    }

    form label.above input, form label.above select {
        padding: .25rem;
    }
}
