body {
    background-color: #dff;
}

header h1 {
    font-size: 3rem;
    font-family: "Brush Script MT", "Vladimir Script", cursive, sans-serif;
    color: gainsboro;
    background-color: dimgray;
    margin: 0;
    padding: 0px 0px 0px 25px;
    text-align: center;
    min-width: 300px;
    background-position: right;
}

.subheading {
    text-align: center;
}

header img {
    float: left;
    background-position: left;
    max-width: 300px;
}

main img {
    display: block;
}

article img {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    display: block;
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
    border: 1px solid white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

nav ul li a:link {
    background-color: #555;
    color: white;
}

nav ul li {
    text-align: center;
    /* border-bottom: 1px solid #555; */
}

.active {
    background-color: #4CAF50;
    color: white;
}

.forecast {
    display: none;
}

.motto {
    
}