body {
    background-color: #506e55;
    font-family: 'Open Sans', serif;
    color: white;
    margin: 0;
}

h1 {
    font-family: 'Francois One';
}

h2 {
    font-family: 'Francois One';
}

header {
    background-color: #12394f;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
}

header h1 {
    font-family: 'Pacifico';
    margin: 0;
    font-size: 2.5rem;
}

header img {
    width: 100%;
}

header a {
    text-decoration: none;
    color: #e0e0e0;
}

.navSep {
    display: none;
}

nav {
    font-family: 'Pacifico';
    background-color: #afbcbb;
}

nav button {
    margin: 1% 0 1% 2%;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
}

nav ul.hide {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    border: 1px solid #84aab7;
}

nav ul li a {
    display: block;
    color: #12394f;
    font-size: 2rem;
    padding: 4px 0;
}

nav ul li a:link {
    background-color: #afbcbb;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #12394f;
    color:  white;
}

nav ul li a:active {
    background-color: white;
    background-color: #84aab7;
    color: #afbcbb;
}

.active {
    background-color: #548bb0;
}

#CallToActionEmailSignup {
    border: 2px solid lightyellow;
    border-radius: 25px;
    background-color: #eeeeee;/*#d0d0d0; */
}

#CallToActionEmailSignup p {
    margin: 1% 2% 0 2%;
    color: blue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

#CallToActionEmailSignup form {
    margin: 2% 2% 1% 2%;
    text-align: center;
    color: black;
    font-size: 1.25rem;
}

.mailingListButton {
    background-color: blue;
    color: #eeeeee;
    border-radius: 25px;
    border-color: darkgrey;
    /* box-shadow: 5px 5px 15px grey; */
    padding: 12px 12px;
    margin: 1% 0 0 0;
}

.mailingListEmail {
    margin: 0 0 1% 0;
}

/*
.mailingListFinished {
    display: none;
}
*/

.mailingList input {
    font-size: 1.50rem;
    padding: 8px;
}

main {
    padding: 2%;
}

#mainGroupsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.mainGroup {
    border: 2px solid lightyellow;
    border-radius: 25px;
}

.mainGroup img {
    width: 100%;
    border-radius: 25px;
}
.mainGroup h2 {
    margin: 0 2%;
}
.mainGroup p {
    margin: 4% 2%;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #12394f;
    color: #afbcbb;
    padding: 2%;
}

#rightFoot {
    text-align: right;
}

.footHorizontalSep {
    display: none;
}

footer a:link, footer a:visited {
    color: #afbcbb;
}

#copyright {
    font-size: .6rem;
    color: white;
}

.couponContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.couponContainer img {
    width: 100%;
    max-width: 550px;
    margin: 5% 0 0 0;
}

.couponContainer p {
    margin: 0;
    max-width: 550px;
}

#servicesTables {
    display: flex;
    flex-direction: column;
}

.srvTable {
    border: 2px solid lightyellow;
    border-radius: 25px;
    padding: 5px;
    margin: 0 0 20px 0;
}

.tableHeader {
    font-weight: bold;
    color: yellow;
